@using NationalTeam.Mvc.Models;
@model List<Team>

<table class="table">
    <thead>
    <td>Nome</td>
    </thead>
    @foreach (var item in Model)
    {
        if (!string.IsNullOrEmpty(item.Name))
        {
            <tr><td><strong>@item.Name</strong></td></tr>
            foreach (var player in item.Players)
            {
                <tr><td>@player.Name</td></tr>
            }
        }
    }
</table>